on:
  workflow_dispatch:

jobs:
  scraper1:
    uses: ./.github/workflows/scraper_batch1.yml

  scraper2:
    uses: ./.github/workflows/scraper_batch2.yml

  wait3:
    runs-on: ubuntu-latest
    needs: [scraper1, scraper2]
    steps:
      - run: sleep 300  # wait 5 minutes

  scraper3:
    uses: ./.github/workflows/scraper_batch3.yml
    needs: wait3

  wait4:
    runs-on: ubuntu-latest
    needs: scraper3
    steps:
      - run: sleep 180  # wait 3 minutes

  scraper4:
    uses: ./.github/workflows/scraper_batch4.yml
    needs: wait4
